<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742971377594-h7c0vimk84lid96n4g8p7dta97cu8mm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742971377594-h7c0vimk84lid96n4g8p7dta97cu8mm6</string>
	<key>API_KEY</key>
	<string>AIzaSyDc0u6hIFHg0R9uP0GgnrG0gHCTz4rJ_6k</string>
	<key>GCM_SENDER_ID</key>
	<string>742971377594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevXris.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-f7516</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-f7516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742971377594:ios:253a1efadfb95755</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-f7516.firebaseio.com</string>
</dict>
</plist>